<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/drumIcon.png') }}">
</head>
<body>
    <h1>Cellular Automata Blog</h1>

    <p>Concepts from class: program synthesis and cellular automata</p>
    <br>
    <p>Code techniques from class: using gain nodes to avoid clipping and clicks</p>
    <br>
    <p>Use of topic not covered in class: chord progressions</p>
    <br>
    <br>
    <a href="{{ url_for('index')}}">Go back</a>
</body>

<script src="{{ url_for('static', filename='js/main.js')}}"></script>
</html>