<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drumkit Cellular Automata</title>
    <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/drumIcon.png') }}">

</head>
<body>
    
    <h1>Drumkit Cellular Automata</h1>


    
    <div class="center">

        <button id="startStopButton">Start</button>
        <br>
        <br>
        <canvas id="gameCanvas" width="400" height="400"></canvas>
        <br>
        <br>

        <input type="range" min="1000" max="10000" value="5000" class="slider" id="updateSpeed">
        <p>Automaton Speed: <span id="showFPS"></span></p>

        <a href="{{ url_for('blog')}}">Click here for blog</a> 
    </div>
    
</body>

<script src="{{ url_for('static', filename='js/main.js')}}"></script>
</html>